{{!-- Header --}}
<div class="row" id="nav-bar">
    <div class="col-sm-12 col-md-8">
        <h1 id="nav-header">The Sale Scraper</h1>
    </div>
    <div class="col-sm-12 col-md-4 text-right">
        <button type="button" id="scrape">
            New Scrape
        </button>
        <button type="button" id="clear">
            Clear All Items
        </button>
        </br>
        <a href="/">Home</a> | <a href="/saved">
            Saved Items
        </a>
    </div>
</div>

{{!-- Body Content --}}
<div class="container">
    <div class="row">

        {{#each items}}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img class="item-image img-fluid" src="{{image_url}}" alt="{{item_brand}} - {{item_name}}">
            <br />
            <div class="item-text-container">
                <h5>{{item_brand}}</h5>
                <h4>{{item_name}}</h4>
                <h5>Sale: ${{sale_price}}</h5>
                {{!-- <a href="{{item_link}}" target="_blank">Shop</a> --}}
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-6"><a href="{{item_link}}" target="_blank">Shop</a></div>

                    {{!-- {{#unless @item-options}}
                    {{> item-options/options saved=false}}
                    {{/unless}} --}}

                    <div class="col-sm-12 col-md-6 text-right"><button type="button" class="save-item" data-id="{{_id}}">Save</button></div>

                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>