{{!-- Header --}}
<div class="row" id="nav-bar">
    <div class="col-sm-12 col-md-8">
        <h1 id="nav-header">The Sale Scraper</h1>
    </div>
    <div class="col-sm-12 col-md-4 text-right">
        <a href="/">Home</a> | <a href="/saved">
            Saved Items
        </a>
        </br>
        <button type="button" id="clear-saved">
            Delete All Saved
        </button>
    </div>
</div>

{{!-- Body Content --}}
<div class="container">
    <div class="row">

        {{#each items}}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img class="item-image img-fluid" src="{{image_url}}" alt="{{item_brand}} - {{item_name}}">
            <br />
            <div class="item-text-container">
                <h5>{{item_brand}}</h5>
                <h4>{{item_name}}</h4>
                <h5>Sale: ${{sale_price}}</h5>

                <div class="row">
                    <div class="col-sm-12 col-md-12 text-right">
                        <button type="button" class="delete-item" data-id="{{_id}}">Delete</button>
                        <button type="button" class="remove-item" data-id="{{_id}}">Unsave</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6"><a href="{{item_link}}" target="_blank">Shop</a></div>

                    <div class="col-sm-12 col-md-6 text-right">
                        <button type="button" class="item-notes" data-id="{{_id}}" data-toggle="modal"
                            data-target="#notesModal">Notes</button>
                    </div>
                </div>

                {{!-- <div class="row"> --}}

                {{!-- <div class="col-sm-12 col-md-6"><a href="{{item_link}}" target="_blank">Shop</a></div> --}}

                {{!-- Partial --}}
                {{!-- {{#each options}}
                    {{#if saved}}
                    {{> item-options/options saved=true}}
                    {{/if}}
                    {{/each}}
                    </div> --}}

                {{!-- Partial Alternative --}}
                {{!-- <div class="col-sm-12 col-md-6 text-right">
                    {{#if @item-options}}
                    {{> item-options/options saved=true}}
                    {{/if}} --}}

                {{!-- </div> --}}

            </div>
        </div>
        {{/each}}

    </div>
</div>

{{!-- Notes Modal --}}
<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notesModalLabel">{{item_name}} Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-note-text">Add note</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                    </div>
                    <button type="button" class="add-note" data-id="{{_id}}">Add Note</button>
                </form>
                {{!-- Display Existing Notes Here --}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
            </div>
        </div>
    </div>
</div>